@model SbsApplication.Models.LoginViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Hangman App</h1>
</div>

<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="LoginName" class="form-control" placeholder="username" />
                <span asp-validation-for="LoginName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" asp-for="Password" class="form-control" placeholder="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SignIn" class="btn btn-primary" asp-action="LogIn" asp-controller="Home"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Register">Sign Up</a>
</div>